@font-face {
    font-family: "Alexandria";
    src: url("../fonts/Alexandria-VariableFont_wght.ttf");
}

:root {
    --white: #ffffff;
    --orange: #f7a600;
    --blue: #3f4f99;
    --bone: #F4F5F6;
}

html {
    font-family: "Alexandria", "Bitstream Vera Serif", serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: var(--white);
    z-index: 3;
}

header {
    position: relative;
    height: 100vh;
    width: fill;
    overflow: hidden;
    background-color: var(--white);
}

/* Set position to relative so we can position */
/* the list of menu items with `absolute` in relation */
/* the `details` tag */
details {
    position: relative;
}

summary::marker {
    content: '▼';
    font-size: 1.2rem;
}

details[open] summary::marker {
    content: '▲';
}

/* Add some styles to make the dropdown menu stand out from */
/* the rest of the page. A high `z-index` ensures it stays */
/* on top of all the other content. */
details ul {
    display: block;
    list-style: none;
    padding: 0;
    /* border: 2px solid black; */
    width: 250px;
    z-index: 5;
    position: absolute;
    top: 40px;
    background: #3C3C3C;
    color: var(--white);
    padding: 25px;
    border-radius: 5px;
}

details a {
    color: var(--white);
    text-decoration: none;
}

summary {
    user-select: none;
}


#landing-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 1;
}

.banner {
    position: relative;
    display: inline-block;

}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 60%);
    z-index: 2;
    pointer-events: none;
}

.floating-text {
    position: absolute;
    top: 40%;
    right: 32px;
    color: #fff;
    z-index: 3;
    text-align: right;
    padding: 10px;
    margin: 0;
}

/* top part of the nav bar */
.nav-top-part {
    box-sizing: border-box;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px 16px 32px;
    align-content: center;
    flex-wrap: nowrap;
}



.nav-icons {
    width: min-content;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 16px;
}

.nav-icons>img {
    width: 30px;
    height: 30px;
}

.cis-logo {
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 16px;
}

.cis-logo>div {
    width: min-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    overflow: visible;
    padding: 0px;
    align-content: flex-end;
    flex-wrap: nowrap;
    gap: 8px;
}

.cis-logo>img {
    width: 70px;
    height: 70px;
}

.cis-name>p {
    width: 450px;
    height: 25px;
    margin: 0px;
    font-size: 1.15rem;
    font-weight: 500;
}

/* bottom part of the nav bar */
.nav-bottom-part {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
    padding: 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0px;
}

.nav-bottom-part>div {
    box-sizing: border-box;
    flex: 1;
    width: 1px;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 32px 8px 32px;
    overflow: visible;
    align-content: center;
    flex-wrap: nowrap;
    gap: 24px;
}

.nav-bottom-part>div>p {
    margin: 0px;
    font-weight: 400;
    user-select: none;
}



/* grid links */
.grid-links {
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(6, minmax(50px, 1fr));
    justify-content: center;
    grid-auto-rows: minmax(0, 1fr);
    grid-template-rows: repeat(1, minmax(0, 1fr));
    padding: 0px;
    gap: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    color: var(--white);
}

.grid-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    padding: 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    border-color: var(--white);
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
}

.grid-button-blue {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    overflow: hidden;
    padding: 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
    /* position: absolute; */
    border-radius: 0px 0px 0px 0px;
    border-color: var(--white);
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
}

.grid-button-blue>p {
    color: var(--white);
}

.stats_section {
    box-sizing: border-box;
    flex: 1;
    width: fill;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px;
    background-color: var(--orange);
    overflow: hidden;
    align-content: center;
    flex-wrap: nowrap;
    border-radius: 5px;
    margin: 48px;
}

.number_stats {
    width: fit-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    padding: 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    color: var(--white);
}

.number_stats>img {
    width: 70px;
    height: 70px;
}

.news-section {
    align-content: center;
    display: flex;
    gap: 24px;
    padding: 48px;
    width: 100%;
    background-color: var(--white);
}

.left-side {
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
}


.news-icons {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
    height: 50px;
    justify-content: center;
    overflow: visible;
    padding: 0px;
    position: relative;
    width: min-content;
}

.last-three-container {
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-end;
    width: 100%;
}

.news-icons>img {
    width: 25px;
    height: 25px;
}

.last-three {
    align-items: center;
    display: flex;
    gap: 25px;
}

.last-three>img {
    width: 175px;
    height: 125px;
}

.right-side {
    align-items: flex-start;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    gap: 16px;
}

.contain-post {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.contain-post>img {
    border-radius: 5px;
    flex: none;
    height: 396px;
    overflow: hidden;
    position: relative;
    width: 100%;
    object-fit: cover;
}

.announcements-section {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 48px 48px;
    width: 100%;
}

.announcements-section :first-child {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.announcements-section :last-child {
    align-items: center;
    display: flex;
    gap: 10px;
}

.ad {
    background-color: var(--orange);
    border-radius: 5px;
    flex-direction: column;
    height: 130px;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
    gap: 10px;
    display: flex;
}

.majors {
    background-color: var(--white);
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 48px;
    padding: 0 48px 48px;
    width: 100%;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.majors :last-child {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.majors-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.majors-card>img {
    width: 100px;
    height: 100px;
}

.majors-card :last-child {
    font-weight: 300;
    font-size: medium;
}

.logo-card {
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    gap: 8px;
    font-weight: 600;
}

footer {
    padding: 49px 48px 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    font-size: medium;
    background-color: var(--bone);
}

footer :first-child {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    gap: 24px;
    width: fit-content;
    height: 225px;
}

.footer-links>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links>div>p {
    font-size: x-large;
}

.footer-links>div>div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    height: 130px;
}

.showcase {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: min-content;
    justify-content: center;
    width: 100%;
}

.showcase-card :first-child {
    font-size: large;
}